<!DOCTYPE html>
<html lang="en-US">

<body>
<img class="" src="\imgs\loc_thriva.jpg">

<div id="map_block">
<iframe  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA6zH4ucWdokmSMBAPGq6EILA0kKxd5340
    &q=Space+Needle,Seattle+WA"  width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

</body>

