<!DOCTYPE html>
<html lang="en-US">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1 class="center">Hey there!</h1>

<p class="bold"> If you're seeking a place to help you use dietary supplements better, this is it.</p> 
 
<p> Thriva is an early stage startup.  Would you like free access as we shape the product during development, 
    or would you prefer that we to notify you when the product is released to the app store?</p>  

<p class="bold">Tell us what you're interested in and we'll be in touch</p>


<h1 class="center">Contact Form</h1>
<h4></h4>
<div class="contact_box">
  <form>
 
	<div class="flex1">
		<label for="fname">First Name</label>
		<input type="text" id="fname" name="firstname" placeholder="First Name.." required>
	
		<label for="lname">Last Name</label>
		<input type="text" id="lname" name="lastname" placeholder="Last Name.." required>
	</div>
	<div class="flex1">
		<label for="email">Email</label>
		<input type="text" name="email" placeholder="Email *required" required>

		<label for="subject">Subject</label>
		<input type="text" name="subject" placeholder="Subject">
	</div>
   	<label for="subject">Message</label>
   	<textarea id="subject" name="subject" placeholder="Write your message here.." style="height:150px" required></textarea>

		<h3 class="center"> Where do you live? *</h3>
			<p class="center"> * On occasion, Thriva will hold Meetups and other events.  
			If you'll tell us where you are, this will help with planning.   
			No need to tell us your street address if you prefer privacy. </p>
	
		<label for="address_1">Address 1</label>
   	<input type="text" name="address_1" placeholder="Address 1" required>

   	<label for="address_2">Address 2</label>
   	<input type="text" name="address_2" placeholder="Address 2">   
	
	<div class="flex1">
		<label for="city">City</label>
		<input type="text" name="city" placeholder="City">

		<label for="state">State</label>
		<input type="text" name="state" placeholder="State">

		<label for="zip">Zip/Postal Code</label>
		<input type="text" name="zip" placeholder="Zip/Postal Code">

		<label for="country">Country</label>
		<input type="text" name="country" placeholder="Country">
	</div>






    	<input type="submit" value="Submit">
  </form>
</div>
<div class="center">
 <img src="imgs/Dots+white+background.png">
</div>
<div id="map_block">
<iframe  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA6zH4ucWdokmSMBAPGq6EILA0kKxd5340
    &q=Space+Needle,Seattle+WA"  width="100%" height="750" frameborder="5" style="border:3" allowfullscreen></iframe>
</div>

</body>