<!DOCTYPE html>
<html lang="en-US">


<body>

<h1 class="center">Hey there!</h1>

<p class="bold"> If you're seeking a place to help you use dietary supplements better, this is it.</p> 
 
<p> Thriva is an early stage startup.  Would you like free access as we shape the product during development, 
    or would you prefer that we to notify you when the product is released to the app store?</p>  

<p class="bold">Tell us what you're interested in and we'll be in touch</p>


<h4 class="center">Send Us a Message</h4>
            <form class="customform" method="post" action="contact">
              <div class="center"> <input name="first" placeholder="First Name" title="Your name" type="text" /></div>
                            
              <div class="center"> <input name="email" placeholder="Your e-mail" title="Your e-mail" type="email" /></div>



<div id="map_block">
<iframe  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA6zH4ucWdokmSMBAPGq6EILA0kKxd5340
    &q=Space+Needle,Seattle+WA"  width="100%" height="629" frameborder="1" style="border:1" allowfullscreen></iframe>
</div>

</body>