<!DOCTYPE html>
<html lang="en-US">
<body>
<div>
  <h2 class="center">Thriva</h2>
  <p class="bold">Thriva supports your quest for wellness, performance and longevity.  It's a digital tool to help you to do something you're already doing...better!</p>

  <p> 71% of Americans take dietary supplements, an expected +201 million people in 2018.  If you are someone who uses a number of dietary supplements to achieve a purpose, your routine can become complicated.  Thriva helps you with organization, "connecting the dots" to gain new insights, improving the safety and efficacy of your routine, tracking  desired results and delivering trusted advice. 

   As a member, you'll be able to share your routine with healthcare providers, easily re-order products from favorite online stores and earn rebates for the products you use every day.  This website is currently under construction; this is a placeholder to show you a bit about what Thriva will do for you.</p>

  <p class="bold"> Help shape this product.  Tell us your needs by answering 5 questions here: <a target="_blank" href="http://goo.gl/axykBo"> Thriva Survey #1</a></p>
                                                                               
</div>

<h2 style="text-align:center">Slideshow Gallery</h2>

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 5</div>
    <img src="\imgs\2+thriva+performance_edited-1.jpg">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 5</div>
    <img src="\imgs\3+thriva.jpg">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 5</div>
    <img src="\imgs\4+thriva.jpg">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 5</div>
    <img src="\imgs\5+thriva.jpg">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 5</div>
    <img src="\imgs\6+thriva.jpg">
  </div>
    
 
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="\imgs\2+thriva+performance_edited-1.jpg" style="width:100%" onclick="currentSlide(1)" alt="Thriva_pic">
    </div>
    <div class="column">
      <img class="demo cursor" src="\imgs\3+thriva.jpg" style="width:100%" onclick="currentSlide(2)" alt="Thriva_pic">
    </div>
    <div class="column">
      <img class="demo cursor" src="\imgs\4+thriva.jpg" style="width:100%" onclick="currentSlide(3)" alt="Thriva_pic">
    </div>
    <div class="column">
      <img class="demo cursor" src="\imgs\5+thriva.jpg" style="width:100%" onclick="currentSlide(4)" alt="Thriva_pic">
    </div>
    <div class="column">
      <img class="demo cursor" src="\imgs\6+thriva.jpg" style="width:100%" onclick="currentSlide(5)" alt="Thriva_pic">
    </div>    
    
  </div>
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
    

</body>
</html>

