<!DOCTYPE html>
<html lang="en-US">
<head>
<link rel="stylesheet" href="css/style.css">
</head>
   <body>
   <img src="imgs\thrivastatic.png">
      <div class="topnav" id="myTopnav">
       <img src="imgs\thrivastatic.png">
         <a href="/" class="active">Home</a>
         <a href="/about">About</a>
         <a href="/contact">Contact</a>
         
         <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>



   <%=yield%>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

</body>
</html>

