      /*NAVBAR*/

body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: #7E766C;
}

.set_right {
  /* margin-left: 69.999vw; */
  float: right;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #D2D3D0;
  color: white;
}

.topnav .icon {
  display: none;
}
      /*Hides logo in navbar  */
@media screen and (max-width: 600px) {
  .set_right {
    float: none;
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    /* align-items: center; */
    /* margin-left: 5.999vw; */
    display: block;
  }
  .topnav a {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }
  .topnav.responsive a {
    float: right;
    display: block;
    text-align: left;
  }

}

p {
   margin-left: 10%;
   padding: 15px;
   width: 69.999%;
   min-width: 80%;  
   overflow: auto;
   text-align: center;
}

.center {
   text-align: center;
   align-content: center;
}
.bold{
   font-weight: bold;
}

      /*GALLERY*/
* {
   box-sizing: border-box;   
 }
 
img {
   vertical-align: middle;
  }

.size_1 {
  width: 99.999%;
  height: 52.999vw;
  /* margin-left: 26.9999vw; */
}  
 
 /* Position the image container (needed to position the left and right arrows) */
.container {
  width: 41.999%;
  /* height: 2.999%; */
  margin-left: 29.999vw;
  position: relative;
  padding-bottom: 1.111rem;
 }
 
 .container2 {
  position: relative;
 }
 /* Hide the images by default */
.mySlides {
   display: none;
 }
 
 /* Add a pointer when hovering over the thumbnail images */
.cursor {
   cursor: pointer;
 }
 
 /* Next & previous buttons */
 .prev,
 .next {
   cursor: pointer;
   position: absolute;
   top: 40%;
   width: auto;
   padding: 16px;
   margin-top: -50px;
   color: white;
   font-weight: bold;
   font-size: 20px;
   border-radius: 0 3px 3px 0;
   user-select: none;
   -webkit-user-select: none;
 }
 
 /* Position the "next button" to the right */
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
 
 /* On hover, add a black background color with a little bit see-through */
 .prev:hover,
 .next:hover {
   background-color: rgba(0, 0, 0, 0.8);
 }
 
 /* Number text (1/3 etc) */
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
 
 /* Container for image text */
 .caption-container {
   text-align: center;
   background-color: #222;
   padding: 2px 16px;
   color: white;
 }
 
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 
 /* Six columns side by side */
 .column {
   float: left;
   width: 19.999%;
 }
 
 /* Add a transparency effect for thumnbail images */
 .demo {
   opacity: 0.6;
 }
 
 .active,
 .demo:hover {
   opacity: 1;
 }

 /* CONTACT US */

 input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #A1AC83;
  color: white;
  padding: 12px 20px;
  border: ridge;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #A6634E;
}

.contact_box {
  border-radius: 5px;
  background-color: #D2D3D0;
  padding: 20px;
  margin-bottom: 3%;
  width: 68.9999%;
  margin-left: 15vw;
 
}

.flex1 {
  width: 99.9999%;
  display: flex;
  flex-flow: row;

}
